<ion-content>
  <div class="slides ion-margin-bottom">
    <ion-slides>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <img style="height: 7rem" src="assets/addtask.svg" />
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="container">
    <h2 class="ion-text-center">Add Members</h2>
    <ion-item>
      <ion-input [(ngModel)]="name" placeholder="Firstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="Last" placeholder="Lastname"></ion-input>
    </ion-item>
    
    <ion-button expand="block"> Create</ion-button>
    <ion-button expand="block" color="warning" (click)="closeModal()"
      >Close</ion-button
    >
  </div>
</ion-content>
