ion-header {
  ion-toolbar {
    --background: rgba(0, 0, 0, 0);
  }

  .titles {
    position: relative;
    padding: 0 1.2rem;
    h4,
    h6 {
      margin: 0;
      margin-bottom: 4px;
      ion-icon {
        vertical-align: middle;
      }
    }
    h4 {
      font-weight: 900;
      font-size: 26px;
    }
    h6 {
      font-weight: 600;
    }
  }

  img {
    position: absolute;
    top: -110px;
  }
}
